Preprocessing

In [3634]:
import pandas as pd

In [3635]:
df = pd.read_csv('apartment_data.csv')
df.head()

,Количество комнат,Площадь (м²),Этаж,Адрес,Цена ($),Цена (сом)
0,2,63.0,3.0,"Бишкек, Махатма Ганди - БЧК, баялинова 180/1",75 000,6 508 500
1,2,55.0,3.0,"Бишкек, Старый аэропорт, Ажыбек Баатыра/Джунус...",104 000,9 025 120
2,1,56.0,6.0,"Бишкек, Магистраль, ул.Советская / Магистраль",84 000,7 289 520
3,2,70.0,7.0,"Бишкек, Магистраль, Куттубаева/Южная Магистраль",109 000,9 459 020
4,2,67.0,4.0,"Бишкек, Магистраль, Ч. Айтматова/Масалиева",105 000,9 111 900

In [3636]:
df.dropna(inplace=True)
df.isnull().sum()

Количество комнат    0
Площадь (м²)         0
Этаж                 0
Адрес                0
Цена ($)             0
Цена (сом)           0
dtype: int64

In [3637]:
df['Количество комнат'].unique()

array([2, 1, 3, 5, 7, 6, 8], dtype=int64)

In [3638]:
df['Этаж'].unique()

array([ 3.,  6.,  7.,  4.,  2.,  8.,  1.,  9., 12., 11., 15., 13., 10.,
        5., 14., 16., 18., 17., 19., 21., 20.])

In [3639]:
df.head()

,Количество комнат,Площадь (м²),Этаж,Адрес,Цена ($),Цена (сом)
0,2,63.0,3.0,"Бишкек, Махатма Ганди - БЧК, баялинова 180/1",75 000,6 508 500
1,2,55.0,3.0,"Бишкек, Старый аэропорт, Ажыбек Баатыра/Джунус...",104 000,9 025 120
2,1,56.0,6.0,"Бишкек, Магистраль, ул.Советская / Магистраль",84 000,7 289 520
3,2,70.0,7.0,"Бишкек, Магистраль, Куттубаева/Южная Магистраль",109 000,9 459 020
4,2,67.0,4.0,"Бишкек, Магистраль, Ч. Айтматова/Масалиева",105 000,9 111 900

In [3640]:
df['Площадь (м²)'] = pd.to_numeric(df['Площадь (м²)'])
df['Цена ($)'] = pd.to_numeric(df['Цена ($)'].str.replace(' ', ''), errors='coerce')
df['Цена (сом)'] = pd.to_numeric(df['Цена (сом)'].str.replace(' ', ''), errors='coerce')
df['Этаж'] = df['Этаж'].astype(int)

In [3641]:
df

,Количество комнат,Площадь (м²),Этаж,Адрес,Цена ($),Цена (сом)
0,2,63.0,3,"Бишкек, Махатма Ганди - БЧК, баялинова 180/1",75000,6508500
1,2,55.0,3,"Бишкек, Старый аэропорт, Ажыбек Баатыра/Джунус...",104000,9025120
2,1,56.0,6,"Бишкек, Магистраль, ул.Советская / Магистраль",84000,7289520
3,2,70.0,7,"Бишкек, Магистраль, Куттубаева/Южная Магистраль",109000,9459020
4,2,67.0,4,"Бишкек, Магистраль, Ч. Айтматова/Масалиева",105000,9111900
...,...,...,...,...,...,...
8985,2,54.0,11,"Бишкек, Политех, Ажыбек баатыра 10",110000,9545800
8986,2,70.0,7,"Бишкек, Арча-Бешик ж/м, Садырбаева/Абдрахманов...",105500,9145795
8987,2,83.6,1,"Бишкек, 10 м-н, Малдыбаева 12/1",25500,2212890
8988,3,116.0,7,"Бишкек, Мадина, ул. 7 апреля",116000,10066480
8989,1,45.0,1,"Бишкек, Кок-Жар ж/м, Ахунбаева 10/2/Молдокулова",50000,4339000

In [3642]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8978 entries, 0 to 8989
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Количество комнат  8978 non-null   int64
 1   Площадь (м²)       8978 non-null   float64
 2   Этаж               8978 non-null   int32
 3   Адрес              8978 non-null   object
 4   Цена ($)           8978 non-null   int64
 5   Цена (сом)         8978 non-null   int64
dtypes: float64(1), int32(1), int64(3), object(1)
memory usage: 455.9+ KB

In [3643]:
df['Адрес'].unique()

array(['Бишкек, Махатма Ганди - БЧК, баялинова 180/1',
       'Бишкек, Старый аэропорт, Ажыбек Баатыра/Джунусалиева',
       'Бишкек, Магистраль,  ул.Советская / Магистраль', ...,
       'Бишкек, Политех, Ажыбек баатыра 10',
       'Бишкек, 10 м-н, Малдыбаева 12/1',
       'Бишкек, Кок-Жар ж/м, Ахунбаева 10/2/Молдокулова'], dtype=object)

In [ ]:
df.to_csv('apartment_corrected_data.csv', index=False)